@import "tailwindcss";

/* 💡 만약 위 줄이 에러가 난다면 아래 3줄로 대신 써보세요. */
/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

:root {
  background-color: black;
  color: white;
}

body {
  margin: 0;
  display: block; /* Vite 기본 중앙 정렬 해제 */
}